#TEST_COINOS_CONFIG={"jwt":"XXX"}
#TEST_COINOS_PAYINVOICE={"invoice":"XXX"}
#TEST_COINOS_ADDINVOICE={"amount":50000}

#TEST_LNBITS_CONFIG={"adminKey":"XXX"}
#TEST_LNBITS_PAYINVOICE={"invoice":"XXX"}
#TEST_LNBITS_ADDINVOICE={"amount":50000}
#TEST_LNBITS_GETINVOICESTATUS={"paymentHash":"XXX","preimage":"XXX","settled":true}

#TEST_LND_CONFIG={"cert":{"data":"XXX"},"protocol":"https","hostname":"127.0.0.1:8080","macaroon":{"data":"XXX"}}
#TEST_LND_GETNODEURI={"result":"XXX@127.0.0.1:9735"}
#TEST_LND_OPENCHANNEL={"remoteId":"XXX","localAmt":20000,"pushAmt":0,"makePrivate":0}
#TEST_LND_PAYINVOICE={"invoice":"XXX"}
#TEST_LND_ADDINVOICE={"amount":5000}
#TEST_LND_GETINVOICESTATUS={"paymentHash":"XXX","preimage":"XXX","settled":true}

#TEST_LNDHUB_CONFIG={"secret":"lndhub://XXX:XXX@https://lndhub.io"}
#TEST_LNDHUB_PAYINVOICE={"invoice":"XXX"}
#TEST_LNDHUB_ADDINVOICE={"amount":50000}
#TEST_LNDHUB_GETINVOICESTATUS={"paymentHash":"XXX","settled":true}

#TEST_LNPAY_CONFIG={"apiKey":"XXX","walletKey":"XXX"}
#TEST_LNPAY_PAYINVOICE={"invoice":"XXX"}
#TEST_LNPAY_ADDINVOICE={"amount":50000}
#TEST_LNPAY_GETINVOICESTATUS={"paymentHash":"XXX","preimage":"XXX","settled":true}

#TEST_LNTXBOT_CONFIG={"adminKey":"XXX"}
#TEST_LNTXBOT_PAYINVOICE={"invoice":"XXX"}
#TEST_LNTXBOT_ADDINVOICE={"amount":50000}
#TEST_LNTXBOT_GETINVOICESTATUS={"paymentHash":"XXX","preimage":"XXX","settled":true}

#TEST_OPENNODE_CONFIG={"hostname":"dev-api.opennode.co",apiKey":"XXX"}
#TEST_OPENNODE_PAYINVOICE={"invoice":"XXX"}
#TEST_OPENNODE_ADDINVOICE={"amount":50000}
#TEST_OPENNODE_GETINVOICESTATUS={"paymentHash":"XXX","settled":true}
