TEST_LND_CONFIG={"cert":{"data":"XXX"},"protocol":"https","hostname":"127.0.0.1:8080","macaroon":{"data":"XXX"}}
TEST_LND_GETNODEURI={"result":"XXX@127.0.0.1:9735"}
TEST_LND_OPENCHANNEL={"remoteId":"XXX","localAmt":20000,"pushAmt":0,"makePrivate":0}
TEST_LND_PAYINVOICE={"invoice":"XXX"}
TEST_LND_ADDINVOICE={"amount":5000}
TEST_LND_GETINVOICESTATUS={"paymentHash":"XXX","preimage":"XXX","settled":true}

TEST_LNTXBOT_CONFIG={"adminKey":"XXX"}
TEST_LNTXBOT_PAYINVOICE={"invoice":"XXX"}
TEST_LNTXBOT_ADDINVOICE={"amount":50}
TEST_LNTXBOT_GETINVOICESTATUS={"paymentHash":"XXX","preimage":"XXX","settled":true}
